.headerContainer {
    display: flex;               
    align-items: center;         
    justify-content: space-between; 
    padding: 20px;     
    border-bottom: solid;         
}

.name {
    font-size: 30px;
    font-weight: bolder;
    margin: 0;                 
}

.buttons {
    display: flex;             
    gap: 10px;              
}